* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.section {
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    display: flex;
    background-color: #1f2937;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 10px
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    background-color: #1f2937;
    height: 275px;
    align-items: center;
    gap: 20px;
}

.hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-image {
    width: 50%;
    height: 216.5px;
    object-fit: cover;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-signup {
    width: 15%;
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    border: none;
    padding: 5px;
}

.info {
    height: 275px;
    display: flex;
    flex-direction: column;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 16px;
}

.info-image {
    width: 125px;
    height: 125px;
    border-radius: 5px;
}

.info-content {
    display: flex;
    justify-content: center;
}

.info-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonial {
    background-color: #e5e7eb;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.author {
    font-weight: 900;
    color: #1f2937;
    text-align: right;
}

.call {
    height: 200px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    height: 50px;
}