* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.section {
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    display: flex;
    background-color: #1f2937;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 10px
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    background-color: #1f2937;
    height: 275px;
}

.info {
    display: flex;
    height: 275px;
}

.testimonial {
    background-color: #e5e7eb;
    height: 275px;
}

.call {
    height: 200px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    height: 50px;
}